@model TiendaVideojuegos.Models.Articulos

@{
    ViewData["Title"] = "Details";
}

<body class="fondo-compra">
    <h1>Detalles</h1>

    <div class="login-box">
        <font color="white">
            <h4>Articulos</h4>
        </font>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    <font color="white">@Html.DisplayNameFor(model => model.Producto)</font>
                </dt>
                <dd class="col-sm-10">
                    <font color="white">@Html.DisplayFor(model => model.Producto.IdProducto)</font>
                </dd>
            </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.IdUnidad">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

</body>