@model List<TiendaVideojuegos.Models.Ventas>

<body class="fondo-compra">
    <center>
        <font color="white">
            <h1>Devolver</h1>
        </font>
    </center>
    <hr />

@foreach(var item in @Model)
{
    var contador = 100;
<dl class="row">
    <dt class="col-sm-2">
       <font color="white"> Fecha venta: @item.FechaVenta </font>
        <a class="button11" style="margin-top:auto"
           sp-area="" asp-controller="Abonados" asp-action="DevolverConcreto" asp-route-id="@item.Articulo.IdUnidad">
            Devolver articulo
        </a>
    </dt>
    @*<dd class="col-sm-10">
        Nombre del producto: @item.Articulo.
    </dd>
    <dt class="col-sm-2">
        Nombre del producto: @item.Articulo.Producto.Precio
    </dt>*@
   
</dl>
}

</body>