@model TiendaVideojuegos.Models.ArticulosSegundaManoReventa

@{
    ViewData["Title"] = "Edit";
}

<body class="fondo-compra">
    <center>
        <font color="white">
            <h1>Editar</h1>
        </font>
        </center>
        <div>
            <a class="button7" asp-action="Index">Back to List</a>
        </div>
        <hr />
        <div class="fondo-compra">
            <div class="login-box">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdUnidad" />
                    <div class="form-group">
                        <label asp-for="Estado" class="control-label"></label>
                        <input asp-for="Estado" class="form-control" />
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
</body>