<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TiendaVideojuegos</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/estilos.css">
</head>

<body>
    <header>
        <div class="navbar-brand">
            <a asp-area="" asp-controller="Home" asp-action=""><img src="~/images/LOGO.png" alt="logo" class="logo"></a>
            <nav>
                <ul>
                    @if (TiendaVideojuegos.Services.UsuarioLogueado.Usuario == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Abonados" asp-action="Create">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="">Login</a>
                        </li>
                    }
                    else
                    {
                        if (TiendaVideojuegos.Services.UsuarioLogueado.Usuario.Nombre == "admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Articulos" asp-action="Index">Articulos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Abonados" asp-action="Index">Abonados</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Proveedores" asp-action="Index">Proveedores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ArticulosNuevosAbastecimiento" asp-action="Index">Articulos Nuevos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ArticulosSegundaManoReventas" asp-action="Index">Articulos SemiNuevos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Ventas" asp-action="Index">Ventas</a>
                            </li>
                        }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Index">Productos</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="LogoutUser">Logout</a>
                        </li>
                    }



                </ul>
            </nav>
        </div>
    </header>
</body>



<div>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
</html>