@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<center>
    <font color="red">
        <h1 class="text-danger">Error.</h1>
    </font>
        <h2 class="text-danger">HA ocurrido un error procesando la peticion.</h2>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Reason:</strong> <code>@Model.RequestId</code>
            </p>
        }
</center>