@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
.slider {
    width: 100%;
    margin-top: 0%;
    margin: auto;
    overflow: hidden;
}

    .slider ul {
        margin-top: 0%;
        display: flex;
        padding: 0;
        width: 400%;
        animation: cambio 20s infinite;
    }

    .slider li {
        margin-top: 0%;
        width: 100%;
        list-style: none;
    }

    .slider img {
        width: 100%;
    }

    @keyframes cambio{
        0%{ margin-left: 0; }
        20%{ margin-left: 0;}
        
        25%{ margin-left: -100%}
        45%{ margin-left: -100%}

        50%{ margin-left: -200%}
        70%{ margin-left: -200%}

        
        75%{ margin-left: -300%}
        100%{ margin-left: -300%}
    }

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #ffffff;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
    background: #1b1717;
    max-height: 100px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
    align-items: baseline;
    float: left;
    width: 12%;
    height: 12%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 0;
}

nav {
    float: left;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 15px;
  margin-bottom: 15px;

  position: relative;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #ff6a00;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.container-primero {
    height: 1%;
    width: 100%;
    background-color: #ffffff;
}

.gallery{
    margin: 10px 50px;
}

.gallery img{
    transition: 1s;
    padding: 15px;
    width: 20%;
}

.gallery img:hover{
    filter: grayscale(50%);
    transform: scale(1.1);
}

.texto-inicio {
    margin-top:0%;
    margin-bottom:0%;
    text-align:center;
    background: #000;
    text-decoration-color: #ff6a00;
}


.footer {
    background-color: #F1F1F1;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.login-box {
    width: 320px;
    min-height: 490px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

    .login-box label {
        margin: 0;
        padding: 0;
        font-weight: bold;
        display: block;
    }

    .login-box input {
        width: 100%;
        margin-bottom: 10px;
    }

.fondo-login {
    background: url('../images/login.jpg') no-repeat center center fixed;
    background-size: cover;
}

.fondo-compra {
    background: url('../images/compra.jpg') no-repeat center center fixed;
    background-size: cover;
}

.fondo-inicio {
    background: url('../images/azul.jpg') no-repeat center center fixed;
    background-size: cover;
}

.fondo-mario {
    background: url('../images/mario2.jpg') no-repeat center center fixed;
    background-size: cover;
}


.fondo-seleccion {
    background: url('../images/joycon.jpg') no-repeat center center fixed;
    background-size: cover;
}

table {
    width: 100%;
}

th, td {
    padding: 15px;
    
    border-bottom: 1px solid #ddd;
    border: 1px solid black;
}

.button {
    position: absolute;
    left: 58%;
    top: 190px;
    transition: .5s ease;
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
    background-color: #ff6a00;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align: center;
}

.button2 {
    position: absolute;
    left: 58%;
    top: 290px;
    transition: .5s ease;
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
    background-color: #ff6a00;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align: center;
}

.button3 {
    position: absolute;
    left: 58%;
    top: 390px;
    transition: .5s ease;
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
    background-color: #ff6a00;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align: center;
}

.button4 {
    position: absolute;
    left: 58%;
    top: 490px;
    transition: .5s ease;
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
    background-color: #ff6a00;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align: center;
}

.button5 {
    position: absolute;
    max-width: 66px;
    min-height: 40px;
    left: 90px;
    top: 250px;
    transition: .5s ease;
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
    background-color: #60ff00;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align: center;
}

.button6 {
    position: absolute;
    left: 165px;
    top: 250px;
    transition: .5s ease;
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
    background-color: #ff0000;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align: center;
}


.button7 {
    position: absolute;
    left: 10%;
    top: 90px;
    transition: .5s ease;
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
    background-color: #ff6a00;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align: center;
}

.button8 {
    position: absolute;
    left: 58%;
    top: 590px;
    transition: .5s ease;
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
    background-color: #ff6a00;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align: center;
}
.button9 {
    position: absolute;
    left: 58%;
    top: 690px;
    transition: .5s ease;
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
    background-color: #ff6a00;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align: center;
}

.button10 {
    position: absolute;
    left: 15%;
    top: 90px;
    transition: .5s ease;
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
    background-color: #ff6a00;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align: center;
}


.button:hover {
    background-color: #d8600a
}

.button2:hover {
    background-color: #d8600a
}
.button3:hover {
    background-color: #d8600a
}
.button4:hover {
    background-color: #d8600a
}
.button5:hover {
    background-color: #56e003
}

.button6:hover {
    background-color: #d80202
}


.login-box2 {
    width: 320px;
    min-height: 400px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

    .login-box2 h1 {
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 22px;
    }

    .login-box2 label {
        margin: 0;
        padding: 0;
        font-weight: bold;
        display: block;
    }

    .login-box2 input {
        width: 100%;
        margin-bottom: 10px;
    }

#demotext {
    text-shadow: -2px 4px 20px #CE5937;
    font-family: "Courier New", Courier, monospace;
    font-size: 29px;
    letter-spacing: -0.6px;
    word-spacing: -2.6px;
    color: #ff6a00;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}

.container-propio {
    background:#000;
    width: 51%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}