@model TiendaVideojuegos.ViewModels.HomeViewModel

<head>
    <link rel="stylesheet" href="~/css/estilos.css" />
</head>

<body class="fondo-compra">
    <div>
        <hr />
        <center><h2><div id="demotext">PRODUCTOS DESTACADOS</div></center></h2>
        <hr />
    </div
    <body>
        <p>
            <div class="slider">
                <ul>
                    <li><img src="~/images/modernwarfare.jpg" alt="" /></li>
                    <li><img src="~/images/Fondos-Red-Dead-Redemption-2-wallpapers-12.jpg" alt="" /></li>
                    <li><img src="~/images/seaofthieves.jpg" alt="" /></li>
                    <li><img src="~/images/starwarsyedifallenorder.jpg" alt="" /></li>
                </ul>
            </div>
        </p>
    </body>
</body>