@model TiendaVideojuegos.ViewModels.HomeViewModel

<head>
    <link rel="stylesheet" href="~/css/estilos.css" />
</head>

<div>
    <hr />
    <center><h3 class="text-center"><font color="orange">PRODUCTOS DESTACADOS</font></h3></center>
    <hr />
</div>
<body>
    <p>
        <div class="slider">
            <ul>
                <li><img src="~/images/modernwarfare.jpg" alt="" /></li>
                <li><img src="~/images/Fondos-Red-Dead-Redemption-2-wallpapers-12.jpg" alt="" /></li>
                <li><img src="~/images/seaofthieves.jpg" alt="" /></li>
                <li><img src="~/images/starwarsyedifallenorder.jpg" alt="" /></li>
            </ul>
        </div>
    </p>
</body>


<body>

    <div class="gallery">
        <a href="~/images/modernwarfare.jpg"><img src="~/images/modernwarfare.jpg"></a>
        <a href="~/images/Fondos-Red-Dead-Redemption-2-wallpapers-12.jpg"><img src="~/images/Fondos-Red-Dead-Redemption-2-wallpapers-12.jpg"></a>
        <a href="~/images/seaofthieves.jpg"><img src="~/images/seaofthieves.jpg"></a>
        <a href="~/images/starwarsyedifallenorder.jpg"><img src="~/images/starwarsyedifallenorder.jpg"></a>
    </div>
</body>
