@model TiendaVideojuegos.ViewModels.HomeViewModel


<div class="text-center">
    <h1 class="display-4">Home Page</h1>

    @if (Model != null && Model.abonado.Logueado == true)
    {
        <p>Bienvenido @Model.abonado.Nombre !!</p>
    }
</div>
