@model TiendaVideojuegos.Models.Productos

<body class="fondo-compra">
    <center class="login-box2">
        <h1>¿Seguro que quiere comprar el juego nuevo @Model.Nombre?</h1>
        <a class="button5" style="margin-right:700px;">
            Si
        </a>

        <a class="button6" style="margin-right:700px;">
            No
        </a>
    </center>
</body>


