@model TiendaVideojuegos.Models.Productos

<body class="fondo-compra">
    <center class="login-box2">
        <h1>¿Seguro que quiere comprar el juego nuevo @Model.Nombre?</h1>

        <div class="row">
            <div class="col-md-4">
                <form asp-action="ComprarArticuloNuevo">
                    <div class="form-group">
                        <input type="hidden" asp-for="IdProducto" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="button5" style="margin-right:700px;" />
                    </div>
                </form>
            </div>
        </div>

        <a class="button6" style="margin-right:700px;" 
           asp-area="" asp-controller="Productos" asp-action="Index">
            No
        </a>

    </center>
</body>


