@model TiendaVideojuegos.ViewModels.ComprarArticuloAbonadoViewModel
<body class="fondo-compra">

    <center>
        <font color="white">
            <h1>Va a vender un artículo a TiendaVideojuegos</h1>
        </font>
    </center>
     <hr />

        <div class="login-box2">
            <div class="col-md-4">
                <form asp-action="ComprarArticuloAbonado">
                    <p hidden class="form-group">
                        <label asp-for="IdProducto" class="control-label"></label>
                        <input asp-for="IdProducto" class="form-control" />
                    </p>
                    <div class="form-group">
                        <label asp-for="Estado" class="control-label"></label>
                        <input asp-for="Estado" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

</body>