@model IEnumerable<TiendaVideojuegos.Models.Productos>

@{
    ViewData["Title"] = "Index";
}
<body class="fondo-compra">
 <center><font color="white"><h1>Productos</h1></font></center>

<p>
    <a class="button7"
        asp-action="Create">Create New
    </a>
</p>

        <div class="gallery">
            @foreach (var item in Model)
            {
                <a asp-action="ProductoSeleccionadoAdmin" asp-route-Id="@item.IdProducto">
                    <img src="~/images/portadas/@Html.DisplayFor(modelItem => item.Imagen)">
                </a>
            }
        </div>
</body>