@model IEnumerable<TiendaVideojuegos.Models.Productos>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

        <div class="gallery">
            @foreach (var item in Model)
            {
                <a asp-action="ProductoSeleccionadoAdmin" asp-route-Id="@item.IdProducto">
                    <img src="~/images/portadas/@Html.DisplayFor(modelItem => item.Imagen)">
                </a>
            }
        </div>